/* ========== General Reset ========== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/* ========== Custom Properties ========== */
:root {
  --color-primary: #f9f9f9;
  --color-secondary: #222a2f;
  --color-footer: #000;
  --color-background: rgba(0, 0, 0, 0.75);

  --ff-h1: "Great Vibes", cursive;
  --ff-h1-byline: "Libre Baskerville", serif;
  --ff-body-text: "Quicksand", sans-serif;
  --ff-footer-text: "Quicksand", sans-serif;
}

/* ===== General spacing, size & utility classes ===== */
h1,
h3,
p,
li,
a {
  color: var(--color-primary);
}

h3,
p,
li {
  font-family: var(--ff-body-text);
}

@media (min-width: 700px) {
  p,
  li {
    margin-left: 1rem;
  }
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 0.3em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.text > p,
.text > ul {
  margin-bottom: 1.5rem;
  margin-top: 0.5em;
}
.text > ul {
  padding-left: 1em;
}

.text {
  width: 310px;
  text-align: left;
  margin: 1rem auto;
  background-color: var(--color-secondary);
  border-radius: 10px;
  padding: 1em;
}
@media (min-width: 700px) {
  .text {
    width: 300px;
    text-align: left;
  }
}

img {
  width: 100%;
  width: 200px;
  height: 200px;
  margin: 10px;
}

@media (min-width: 743px) {
  img {
    width: 90px;
    height: 90px;
  }
}

.text-center {
  text-align: center;
}
@media (min-width: 743px) {
  .text-center {
    text-align: left;
  }
}

.copy-text {
  font-size: 0.6rem;
  font-family: var(--ff-footer-text);
  padding: 0.5em;
}

/* ========== Containers ========== */
.container-main {
  margin: 0;
  background-image: url("CVimages/main-background-starry-night.png");
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sub {
  background-color: var(--color-background);
  margin: 3%;
  border: 1px solid var(--color-primary);
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 743px) {
  .img-profile {
    order: 1;
  }
  .heading {
    order: 2;
  }
  .img-logo {
    order: 3;
  }
}

.container-profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  padding-left: 45px;
}
/* @media (min-width: 502px) {
  .container-profile-grid {
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    padding: 0;
    margin-bottom: 0;
  }
} */
@media (min-width: 700px) {
  .container-profile-grid {
    grid-template-columns: 1fr 1fr;
    width: 300px;
    margin: 0;
  }
}
@media (min-width: 700px) {
  .container-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.container-footer {
  background-color: var(--color-footer);
  text-align: center;
  font-size: 0.7rem;
  padding: 0.5rem;
}

/* ========== Header ========== */
.geralt-text {
  font-family: var(--ff-h1);
  font-size: 3.5rem;
  font-weight: 400;
  padding: 1.5rem;
  margin-bottom: -0.6em;
}
@media (min-width: 502px) {
  .geralt-text {
    font-size: 5rem;
  }
}

.byline {
  font-family: var(--ff-h1-byline);
  font-size: 1rem;
  font-weight: 200;
  margin-top: -0.8rem;
  margin-left: 8rem;
  padding: 1.5rem;
  width: 70%;
}
@media (min-width: 502px) {
  .byline {
    font-size: 1.2rem;
    margin-left: 11.5rem;
  }
}

.heading-divider {
  background-color: var(--color-primary);
  height: 1px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
.heading {
  text-align: center;
}

/* ========== Main ========== */

.cv-list {
  list-style-position: inside;
  list-style: circle;
}
